@charset "UTF-8";

/* Configurações de estilo para telas médias */
@media screen and (min-width: 768px) and (max-width: 992px){
    main{
        background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    }
    
    section#login{
        width: 80vw;
        height: 330px;
    }

    div#imagem{
        float: left;
        width: 30%;
        height: 100%;
        background-size: cover;
        background-position: 25%;
    }

    div#formulario{
        float: right;
        width: 70%;
    }
}

/* Configurações de estilo para telas grandes */
@media screen and (min-width: 992px){
    main{
        background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    }
    
    section#login{
        width: 950px;
        height: 350px;
    }

    div#imagem{
        float: right;
        width: 50%;
        height: 100%;
        background-size: cover;
    }

    div#formulario{
        float: left;
        width: 50%;
    }

    h1{
        font-size: 2em;
    }

    p{
        font-size: 1.2em;
    }
}