@charset "UTF-8";

/* 
    Paleta de cores -->
    Laranja: #ff5900
    Laranja para seleção: #CF4D26
    Cinza: #222d43
    Preto para degradê: #0d1118
*/

:root{
    --cor1: #222d43;
    --cor2: #0d1118;
    --cor3: #DE6B48;
    --cor4: #CF4D26;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    /* posiciona no meio da tela */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: white;
    width: 300px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(255, 166, 0, 0.500);
    overflow: hidden;

    /* Animação ao mudar de tamanho */
    transition: width .4s, height .4s;
    transition-timing-function: ease;
}

div#imagem{
    height: 200px;
    background-color: var(--cor1);
    background-image: url(../imagens/black_building.jpg);
    background-size: cover;
    background-position: top;
}

div#formulario{
    padding: 10px;
}

div#formulario > h1,p{
    text-align: center;
}

div#formulario > h1{
    margin-bottom: 10px;
}

form > div.input{
    background-color: var(--cor3);
    height: 40px;
    border-radius: 5px;
    margin: 10px 0px;
    color: white;
}

form input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: var(--cor3);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type=submit]:hover{
    background-color: var(--cor4);
}

form a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid var(--cor3);
    border-radius: 5px;
    color: var(--cor3);
}

form a:hover{
    background-color: var(--cor4);
    color: white;
}

::selection{
    background-color: var(--cor4);
    color: white;
}
